<div class="flex bg-black overflow-hidden">
  <div class="flex flex-col absolute max-w-80 wrap max-h-60 self-end z-10 ml-60 mb-10 space-y-2">
    <div id="chat-area" class="font-semibold text-white text-sm"></div>
    <input id="chat-input" class="w-80 h-12 pl-2 font-semibold text-white rounded bg-zinc-800 bg-opacity-80 ring-1 ring-amber-600 focus:outline-none"/>
  </div>
  <canvas class="relative w-screen h-screen xl:w-auto mx-auto"></canvas>
</div>
